I will explore string cleaning tasks such as:
<ul>
  <li>Finding specific strings or substrings in columns.</li>
  <li>Extracting substrings from unstructured data.</li>
  <li>Removing strings or substrings from a series.</li>
</ul>

As I learn these tasks, I'll also work to build intuition around how these string methods operate so that I can explore methods I haven't explicitly covered on my own.

Description of the columns I'll be working with:
<ul>
  <li><b>ShortName</b> - Name of the country</li>
    <li><b>Region</b> - The region the country belongs to.</li>
    <li><b>IncomeGroup</b> - The income group the country belongs to, based on Gross National Income (GNI) per capita</li>
    <li><b>CurrencyUnit</b> - Name of country's currency</li>
    <li><b>SourceOfMostRecentIncomeAndExpenditureData</b> - The name of the survey used to collect the income and expenditure data</li>
    <li><b>SpecialNotes</b> - Contains any miscellaneous notes about the data</li>
</ul>

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

wh_2015 = pd.read_csv(r'C:\Users\lumum\Documents\Data Projects\string-cleaning\World_Happiness_2015.csv')
wh_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [39]:
world_dev = pd.read_csv(r'C:\Users\lumum\Documents\Data Projects\string-cleaning\World_dev.csv')
world_dev.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [40]:
world_dev = pd.read_csv("World_dev.csv")
col_renaming = {'SourceOfMostRecentIncomeAndExpenditureData': 'IESurvey'}
merged = pd.merge(left=wh_2015, right=world_dev, how='left', left_on='Country', right_on='ShortName')

merged = merged.rename(col_renaming, axis = 1)

In [41]:
merged.head()

,Country,Region_x,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,IESurvey,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2010,NaN,"Expenditure survey/budget survey (ES/BS), 2004",Yes,2008,2010.0,2013.0,2000.0
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,NaN,"Integrated household survey (IHS), 2010",Yes,2010,2005.0,2013.0,2005.0
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,NaN,"Income tax registers (ITR), 2010",Yes,2010,2010.0,2013.0,2009.0
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,NaN,"Income survey (IS), 2010",Yes,2010,2010.0,2013.0,2006.0
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,NaN,"Labor force survey (LFS), 2010",Yes,2011,2011.0,2013.0,1986.0

In [42]:
merged["CurrencyUnit"]

0                 Swiss franc
1               Iceland krona
2                Danish krone
3             Norwegian krone
4             Canadian dollar
                ...
153             Rwandan franc
154    West African CFA franc
155                       NaN
156             Burundi franc
157    West African CFA franc
Name: CurrencyUnit, Length: 158, dtype: object

## string.split()

In [43]:
def extract_last_word(element):
    element = str(element)
    splitted = element.split()
    return splitted[-1]

merged['Currency Apply'] = merged["CurrencyUnit"].apply(extract_last_word)

print(merged['Currency Apply'].head())

0     franc
1     krona
2     krone
3     krone
4    dollar
Name: Currency Apply, dtype: object

We learned in the last cell that we should use built-in vectorized methods (if they exist) instead of the Series.apply() method for performance reasons.

Instead, we could've split each element in the <b>CurrencyUnit</b> column into a list of strings with the <b>Series.str.split()</b> method, the vectorized equivalent of Python's <b>string.split()</b> method:

![ ](string-vectorisation.png)

In fact, pandas has built in a number of vectorized methods that perform the same operations for strings in series as Python string methods.

Here are some common vectorized string methods.


<tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr>
<th>Series.str.split()</th>
<th>Splits each element in the Series.</th>
</tr>
<tr>
<th>Series.str.strip()</th>
<th>Strips whitespace from each string in the Series.th>
</tr>

We access these vectorized string methods by adding a str between the Series name and method name:
![ ](str.png)

## chaining vectorized string methods

In [44]:
merged['Currency Vectorized'] = merged['CurrencyUnit'].str.split().str.get(-1)
merged['Currency Vectorized'].head()

0     franc
1     krona
2     krone
3     krone
4    dollar
Name: Currency Vectorized, dtype: object

In [45]:
#check for any missing values in dataset
merged['CurrencyUnit'].isnull().sum()

13

In [46]:
lengths = merged['CurrencyUnit'].str.len()
value_counts = lengths.value_counts(dropna=False)

Benefits of using vectorized string methods:
    <ul>
    <li>Better performance.</li>
    <li>Code that is easier to read and write.</li>
    <li>Automatically excludes missing values.</li>
</ul>

In [47]:
merged['SpecialNotes'].head(10)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4    Fiscal year end: March 31; reporting period fo...
5    A simple multiplier is used to convert the nat...
6    A simple multiplier is used to convert the nat...
7    Fiscal year end: June 30; reporting period for...
8    Fiscal year end: March 31; reporting period fo...
9    Fiscal year end: June 30; reporting period for...
Name: SpecialNotes, dtype: object

## regex (regular expressions)

 A regular expression is a sequence of characters that describes a search pattern, used to match characters in a string:
 ![ ](regex.png)

In [48]:
#The brackets, [], indicate that either "national accounts" or "National accounts" should produce a match.
pattern = r"[Nn]ational accounts"
national_accounts = merged['SpecialNotes'].str.contains(pattern, regex = True)
print(national_accounts.head(10))
#I the Series.str.contains() method to see if a specific phrase appeared in a series.
# The result was a series containing True, False, and missing values.

0      NaN
1      NaN
2      NaN
3      NaN
4     True
5    False
6    False
7     True
8     True
9     True
Name: SpecialNotes, dtype: object

In [49]:
pattern = r"[Nn]ational accounts"
national_accounts = merged['SpecialNotes'].str.contains(pattern, na=False,regex=True)
#the na=False parameter makes the NaN values be read as false.

merged_national_accounts = merged[national_accounts]
print(merged_national_accounts.head())

          Country                   Region_x  Happiness Rank  Happiness Score  \
4          Canada              North America               5            7.427
7          Sweden             Western Europe               8            7.364
8     New Zealand  Australia and New Zealand               9            7.286
9       Australia  Australia and New Zealand              10            7.284
14  United States              North America              15            7.119

    Standard Error  Economy (GDP per Capita)   Family  \
4          0.03553                   1.32629  1.32261
7          0.03157                   1.33171  1.28907
8          0.03371                   1.25018  1.31967
9          0.04083                   1.33358  1.30923
14         0.03839                   1.39451  1.24711

    Health (Life Expectancy)  Freedom  Trust (Government Corruption)  ...  \
4                    0.90563  0.63297                        0.32957  ...
7                    0.91087  0.65980                        0.43844  ...
8                    0.90837  0.63938                        0.42922  ...
9                    0.93156  0.65124                        0.35637  ...
14                   0.86179  0.54604                        0.15890  ...

    LatestPopulationCensus  LatestHouseholdSurvey  \
4                     2011                    NaN
7                     2011                    NaN
8                     2013                    NaN
9                     2011                    NaN
14                    2010                    NaN

                                          IESurvey VitalRegistrationComplete  \
4                   Labor force survey (LFS), 2010                       Yes
7                         Income survey (IS), 2005                       Yes
8                                              NaN                       Yes
9   Expenditure survey/budget survey (ES/BS), 2003                       Yes
14                  Labor force survey (LFS), 2010                       Yes

   LatestAgriculturalCensus LatestIndustrialData LatestTradeData  \
4                      2011               2011.0          2013.0
7                      2010               2010.0          2013.0
8                      2012               2010.0          2013.0
9                      2011               2011.0          2013.0
14                     2012               2008.0          2013.0

   LatestWaterWithdrawalData Currency Apply Currency Vectorized
4                     1986.0         dollar              dollar
7                     2007.0          krona               krona
8                     2002.0         dollar              dollar
9                     2000.0         dollar              dollar
14                    2005.0         dollar              dollar

[5 rows x 45 columns]

 ![ ](date.png)

In [50]:
#used to extract date values from rows
pattern =r"([1-2][0-9][0-9][0-9])"
years=merged['SpecialNotes'].str.extract(pattern)

When we used the Series.str.extract() method, we enclosed our regular expression in parentheses. The parentheses indicate that only the character pattern matched should be extracted and returned in a series. We call this a capturing group.
<br>If the capturing group doesn't exist in a row (or there is no match) the value in that row is set to NaN instead. As a result, the Series returned looked like this:</br>
![ ](extract.png)

In [51]:
merged = merged.set_index('Country')

In [53]:
pattern = r"(?P<Years>[1-2][0-9]{3})"
merged['SpecialNotes'].str.extractall(pattern)

                  Years
Country     match
Finland     0      1999
            1      1999
Netherlands 0      1999
            1      2037
            2      1999
...                 ...
Rwanda      1      2011
            2      2008
Togo        0      2013
            1      2000
            2      2000

[164 rows x 1 columns]

![ ](extractall.png)

Next, let's use the same regular expression from the last screen to extract all the years from the <b>Special Notes</b> column, except this time, we'll use a named capturing group. 
<br>Using a named capturing group means that we can refer to the group by the specified name instead of just a number. We can use the following syntax to add a name: </br>
<code> (?P<Column_Name>...) </code>

Below, we name the capturing group Years:

In [58]:
#use of a named capturing group
pattern = r"(?P<Years>[1-2][0-9]{3})"
#Series.str.extractall() method to extract all of the years in the IESurvey
years = merged['IESurvey'].str.extractall(pattern)
#the Series.value_counts() method to create a list of the unique years, along with the count.
value_counts = years['Years'].value_counts()

In [59]:
value_counts

2012    33
2010    28
2011    22
2013    12
2009     8
2008     6
2005     6
2007     4
2004     3
2006     1
2002     1
1998     1
2003     1
1992     1
1999     1
1995     1
2000     1
Name: Years, dtype: int64

In [61]:
pattern = r"(?P<First_Year>[1-2][0-9]{3})/?(?P<Second_Year>[0-9]{2})?"

years = merged['IESurvey'].str.extractall(pattern)
first_two_year = years['First_Year'].str[0:2]
years['Second_Year'] = first_two_year + (years['Second_Year'])

We were unsuccessful because some of our years had the following format:
![ ](slashdate.png)
Because the regular expression only accounted for the pattern highlighted below, we created a dataframe with just the first year in each row:
![ ](slashdate1.png)

If we wanted to extract the second, abbreviated year, we'd have to specify two more groups - one to extract the / and one to extract the last two digits.
![ ](slashdate2.png)
This allows us to extract years listed in the yyyy format AND the yyyy/yy format at once.

Because we didn't name the second group, (/), the capturing group number, 1, was used as the column name.